.cell {
    width: 70px;
    height: 70px;
}
.free-cell {
    border: dotted;
}
.row-styled {
    margin-left: auto;
}

.block-cell {
    background-image: url("/images/block.jpg");
    background-size: cover;
}

.diamond-cell {
    background-image: url("/images/diamond.jpg");
    background-size: cover;
}

.diamond_invisible-cell {
    background-image: url("/images/diamond_invisible.jpg");
    background-size: cover;
}

.finish-cell {
    background-image: url("/images/finish.jpg");
    background-size: cover;
}

.finish_invisible-cell {
    background-image: url("/images/finish_invisible.jpg");
    background-size: cover;
}

.start-cell {
    background-image: url("/images/start.jpg");
    background-size: cover;
}